ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    }

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.searchbar {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }

.material-icons {
    padding-right: 10px;
    position: relative;
  }

.searchbox {
   flex: 0 1 50%;
   height: 30px;
   border-radius: 10px;
   border-width: 1px;
  }

.button-container {
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;
}

.search-buttons {
    min-width: 100px;
    width: 20%;
    height: 40px;
    border-width: 0px;
}